// Remove background and borders from top-bar and title section
.callout.primary, .top-bar {
  background-color: transparent !important;
  border: none;
}

//Top bar width
.top-bar {
  margin: auto;
  max-width: 1280px;
}

// Take Action Button
.take-action {
  border-radius: 300px;
  border: 2px solid white;
  -webkit-transition: color 0.5s, background-color 0.5s; /* Safari */
  transition: color 0.5s, background-color 0.5s;
  &:hover, &:focus, &:active {
    -webkit-transition: color 0.5s, background-color 0.5s; /* Safari */
    transition: color 0.5s, background-color 0.5s;
    color: $grazina-green !important;
    background-color: white;
    text-shadow: none !important;
  }
}

// Banner typography
.page-title {
  color: white;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
}

// Responsive Header
@media all and (max-width: 640px) {
  .header-wrapper {
    background-position: center top !important;
  }
  .page-title {
    margin-top: 42px;
    font-size: 11vw;
  }
  .menu.main-menu {
    position: absolute;
    top: -10px;
    right: 10px;
  }
  .top-bar ul.main-menu {
    text-align: right;
  }
  .main-menu.menu > li {
    display: block
  }
  .main-menu.menu li.take-action-item {
    margin-top: 18px;
  }
  .main-menu.menu li a.take-action {
    display: inline;
  }
  .callout.large {
    margin-top: 3rem;
    padding-top: o !important;
  }
}

@media all and (min-width: 641px) {
  .callout.home-callout.large.primary {
    margin-top: 16vh;
  }
}

// Zoomed in Background on mobile
@media all and (max-width: 768px) {
  .page.header-wrapper, .blog.header-wrapper {
    background-size: 200% !important;
  }
}

// Brand
.brand-wrapper {
  margin-left: 10px;
}

h2.subheader {
  color: white;
  font-family: 'EB Garamond';
  display: block;
  font-size: 1.4rem;
}

// Main Menu
.top-bar ul.main-menu {
  margin-top: 21px;
  margin-right: 10px;
  background: transparent;
  font-family: Montserrat;
  text-transform: uppercase;
  li a {
    color: white;
  }
}
