#main {
  margin-top: 42px;
}

section#donations, section#about-page {
	margin-bottom: 40px;
}

#main h2 {
	margin-bottom: 2rem !important;
	margin-top: 2rem !important;
}

.thumbnail {
	box-shadow: none !important;
}