#main {
  margin-top: 42px;
}

section#donations, section#about-page {
	margin-bottom: 40px;
}

#main {
	h2 {
	margin-bottom: 2rem !important;
	margin-top: 2rem !important;
	}
	h3, h4, h5, h6 {
		margin-bottom: 1.2rem !important;
		margin-top: 1.2rem !important;
	}
}

.thumbnail {
	box-shadow: none !important;
}

.container.blog-container {
	ul {
		margin-left: 0;
	}
}

.post {
	margin-bottom: 40px;
}

.home.scrolled {
	height: 50% !important;
	min-height: 300px;
	background-position: center -100px !important;
	margin-bottom: 40px;
	transition: background-position 1s ease, height 1s ease, margin-bottom 1s ease;
}

.callout.home-callout.scrolled {
	margin-top: 0 !important;
	transition: margin-top 1s ease;
}

.site-title.scrolled {
	opacity: 0;
	height: 0;
	transition: opacity 1s ease, height 1s ease;
}

.about-title.scrolled {
	opacity: 1 !important;
	transition: opacity 1s ease;
}