<div class="blog header-wrapper {{ page.title | downcase | split: " " | join: "-" }}-banner" style="background-image: url('{{ site.baseurl }}/{{ page.banner }}'); background-position: center -100px; background-repeat: no-repeat; background-size: 100%">
  <!-- Start Top Bar -->
  <div class="top-bar">
    <a href="{{ site.baseurl }}/">
      <div class="top-bar-left">
        <div class="brand-wrapper">
          <h1 class="brand text-shadow">Capture Life</h1>
          <h2 class="subheader text-shadow">The Thin Line</h2>
        </div>
      </div>
    </a>
    <div class="top-bar-right">
      {% include menu.html %}
    </div>
  </div>
  <!-- End Top Bar -->
  <div class="callout large primary">
    <div class="row text-center">
      <h2 class="page-title">Blog</h2>
    </div>
  </div>
</div>
