<div class="columns small-12 medium-2 donation-box">
  <h6>£10</h6>
  <form action="https://capture-life-donations.herokuapp.com" method="POST">
    <script
        src="https://checkout.stripe.com/checkout.js"
        class="stripe-button"
        data-key="pk_live_Zi6mCh6EbsLYJo3kM8zN6FS6"
        data-name="Capture Life"
        data-description="Donate £10 to The Thin Line"
        data-amount="1000"
        data-currency="gbp"
        data-label="Donate £10"
    ></script>
    <input name="amount" value="1000" type="hidden">
    <input name="description" value="Donate £10 to The Thin Line" type="hidden">
  </form>
</div>

<div class="columns small-12 medium-2 donation-box">
  <h6>£20</h6>
  <form action="https://capture-life-donations.herokuapp.com" method="POST">
    <script
        src="https://checkout.stripe.com/checkout.js"
        class="stripe-button"
        data-key="pk_live_Zi6mCh6EbsLYJo3kM8zN6FS6"
        data-name="Capture Life"
        data-description="Donate £20 to The Thin Line"
        data-amount="2000"
        data-currency="gbp"
        data-label="Donate £20"
    ></script>
    <input name="amount" value="2000" type="hidden">
    <input name="description" value="Donate £20 to The Thin Line" type="hidden">
  </form>
</div>

<div class="columns small-12 medium-2 donation-box">
  <h6>£50</h6>
  <form action="https://capture-life-donations.herokuapp.com" method="POST">
    <script
        src="https://checkout.stripe.com/checkout.js"
        class="stripe-button"
        data-key="pk_live_Zi6mCh6EbsLYJo3kM8zN6FS6"
        data-name="Capture Life"
        data-description="Donate £50 to The Thin Line"
        data-amount="5000"
        data-currency="gbp"
        data-label="Donate £50"
    ></script>
    <input name="amount" value="5000" type="hidden">
    <input name="description" value="Donate £50 to The Thin Line" type="hidden">
  </form>
</div>

<div class="columns small-12 medium-2 donation-box">
  <h6>£100</h6>
  <form action="https://capture-life-donations.herokuapp.com" method="POST">
    <script
        src="https://checkout.stripe.com/checkout.js"
        class="stripe-button"
        data-key="pk_live_Zi6mCh6EbsLYJo3kM8zN6FS6"
        data-name="Capture Life"
        data-description="Donate £100 to The Thin Line"
        data-amount="10000"
        data-currency="gbp"
        data-label="Donate £100"
    ></script>
    <input name="amount" value="10000" type="hidden">
    <input name="description" value="Donate £100 to The Thin Line" type="hidden">
  </form>
</div>

<div class="columns small-12 medium-2 donation-box">
  <h6>£250</h6>
  <form action="https://capture-life-donations.herokuapp.com" method="POST">
    <script
        src="https://checkout.stripe.com/checkout.js"
        class="stripe-button"
        data-key="pk_live_Zi6mCh6EbsLYJo3kM8zN6FS6"
        data-name="Capture Life"
        data-description="Donate £250 to The Thin Line"
        data-amount="25000"
        data-currency="gbp"
        panelLabel="Donate £250"
        data-label="Donate £250"
    ></script>
    <input name="amount" value="25000" type="hidden">
    <input name="description" value="Donate £250 to The Thin Line" type="hidden">
  </form>
</div>

<div class="columns small-12 medium-2 donation-box">
  <h6>£500</h6>
  <form action="https://capture-life-donations.herokuapp.com" method="POST">
    <script
        src="https://checkout.stripe.com/checkout.js"
        class="stripe-button"
        data-key="pk_live_Zi6mCh6EbsLYJo3kM8zN6FS6"
        data-name="Capture Life"
        data-description="Donate £500 to The Thin Line"
        data-amount="50000"
        data-currency="gbp"
        data-label="Donate £500"
    ></script>
    <input name="amount" value="50000" type="hidden">
    <input name="description" value="Donate £500 to The Thin Line" type="hidden">
  </form>
</div>