<head>
	{% include base.html %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Capture Life | {{ page.title }}  - The Thin Line</title>
  <script type="text/javascript" src="{{ site.baseurl }}/js/jquery-3.1.1.min.js"></script>
  <script src="https://use.fontawesome.com/8cc8eb9a9e.js"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <meta name="description" content="{{ page.meta_content }}">
  {% if facebook_image == yes %}
		<meta property="og:image" content="{{ site.baseurl }}{{ page.featured_image }}">
  {% else %}
  	<meta property="og:image" content="https://capturelife.co/{{ page.banner }}">
  {% endif %}
</head>
