<div class="header-wrapper {{ page.title | downcase | split: " " | join: "-" }}-banner" style="min-height: 100%; background-image: url('{{ page.banner }}'); background-position: center; background-size: cover; background-repeat: no-repeat;">
  <!-- Start Top Bar -->
  <div class="top-bar">
    <a href="/">
      <div class="top-bar-left">
        <div class="brand-wrapper">
          <h1 class="brand text-shadow">Capture Life</h1>
          <h2 class="subheader text-shadow">The Thin Line</h2>
        </div>
      </div>
    </a>
    <div class="top-bar-right">
      {% include menu.html %}
    </div>
  </div>
  <!-- End Top Bar -->
  <div class="callout large primary home-callout">
    <div class="row column text-center">
      <h2 class="page-title">{{ page.title }}</h2>
      <h3 class="subheader home">The Thin Line</h3>
    </div>
  </div>
</div>
