<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}
  <body>
    {{ content }}
    {% include footer.html %}
    <script src="{{ site.baseurl }}/js/foundation.min.js"></script>
    <script src="{{ site.baseurl }}/js/custom.js"></script>
    <script>
      $(document).foundation();
    </script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5873ffd77c14103f"></script>
  </body>
</html>
